.flex-container {
  display: flex; /* Ativa o Flexbox */
  background-color: #f1f1f1;
  padding: 10px;
  gap: 10px; /* Adiciona espaço entre os itens */
  width: 300px;
  margin: 300px;
}

. {
  background-color: dodgerblue;
  color: white;
  padding: 5px;
  font-size: 10px;
  text-align: center;
  flex: 1; /* Faz todos os itens crescerem igualmente para ocupar o espaço */
}


