.cabeçalho {
  display: flex; 
  flex-wrap: wrap;/* Ativa o Flexbox */
  background-color:pink;
  padding: 5px;
  gap: 100px;
  text-align: right;
  font-size: x-large; 
 flex: 1;/* Adiciona espaço entre os itens */
}
.cabeçalho-item{
  display:inline-block;
  background-color: blue;
  color: aqua;
  box-shadow: 0 0 1.6rem 0.4rem red;
  padding: 2 3 4;
  border-radius: 2rem;
}
.img-wpp{
  position:fixed;
}


